/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;  
}

.header {
  position: relative;
  min-height: 375px;
  height: 100vh;
  width: 100%;
  margin-block-start: 10px;
  display: grid;
  grid-template-rows: 30vh 35vh 30vh;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0 0 0 calc(100vw - 35px);
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
}

.header::after {
  content: "";
  position: absolute;
  inset: 93vh 0 0 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

.header__record {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  position: absolute;
  font-family: var(--font-family);
}

.header__record::before {
  content: "rec";
  color: var(--record-color);
  font-size: 18px;
  text-transform: uppercase;
  margin-inline-end: 10px;
}

.header__record::after {
  margin-inline-end: 20px;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border: 1px solid var(--record-color);
  background-color: var(--record-color);
  border-radius: 100%;
  box-shadow: var(--record-shadow);
}

.header__theme-menu {
  margin: 17vw 5vw 0 0;
  justify-self: end;
}

.header__title {
  margin: 4vh 0 0 3vw;
  font-family: var(--font-family, sans-serif);
  font-size: var(--title-font-size);
  color: var(--title-text-color);
  font-weight: bold;
  line-height: 82.5%; 
  text-shadow: var(--title-shadow);
}

.header__question {
  margin: 6vh 10px 0 12px;
  height: 117px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: bold;
}

.header__theme-menu-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.8em;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--menu-text-color);
  font-family: var(--font-family, sans-serif);
  font-size: var(--text-font-size);
  line-height: 1.2;
  text-transform: lowercase;
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--menu-text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-text-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: transparent; 
  border-block-end: 1px solid var(--menu-text-color);
}

.title-decor {
  margin: 20px 0 10px 0;
  display: block;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: bold;
}

.regular-text {
  margin: 0;
  color: var(--text-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: normal;
}

.question {
  margin:0 0 20px 0;
  color: var(--question-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: bold;
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.normal-font-weight {
  font-weight: normal;
}

.main {
  background-color: var(--background-color);
  padding: 30px 10px 0;
}

.main__intro {
  margin-block-end: var(--margin-block-end);
}

.main__cont {
  margin-block-end: var(--margin-block-end);
}

.main__advice {
  margin-block-end: var(--margin-block-end);
}

.main__gallery-title {
  margin: 0 0 10px 0;
}

.main__gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: 38vw repeat(2, 95vw 63vw);
  width: 100%;
  gap: 10px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  padding-block-start: 30px;
  min-height: 375px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.footer::before {
  inset: 46px 0 0 calc(100vw - 35px);
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
}

.footer::after {
  inset: 99.8vh 0 0 10px;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

.footer__title {
  margin: 44vh;
  font-size: var(--title-font-size);
  color: var(--title-text-color);
  text-shadow: var(--footer-shadow);
  font-family: var(--font-family, sant-serif);
  line-height: 82.5%;
}

@media (768px <= width){
  :root {
    --margin-block-end: 80px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    margin-block-start: 20px;
  }

  .header::before {
    inset: 0 0 0 calc(100vw - 45px);
  }

  .header::after {
    inset: 93.5vh 0 0 20px;
  }

  .header__record::after {
    margin-inline-end: 30px;
  }

  .header__theme-menu {
    margin: 22.5vw 4vw 0 0;
  }

  .header__title {
    margin: 13vh 0 0 0;
  }

  .header__question {
    margin: 4vh 20px 0 0;
    width: 47vw;
    height: 11.5vh;
    justify-self: end;
  }

  .main {
    padding: 40px 20px 0;
  }

  .title-decor:first-child {
    margin-block-start: 0;
  }

  .main__intro {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
  }

  .main__cont-question {
    max-width: 30vw;
  }

  .main__cont-text-item:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .main__advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__gallery-title {
    margin: 0 0 20px 0;
  }

  .main__gallery-list {
   grid-template-columns: 30vw 30vw 30vw;
   grid-template-rows: 25vw 30vw 41.5vw;
   gap: 20px;
  }

  .row-block {
    grid-row: span 2;
  }

  .column-block {
    grid-column: span 2;
  }

  .footer {
    padding: 30px 0 0 0;
    height: 100vh;
    width: 100vw;
  }

  .footer__title {
    margin: 48vh;
  }

  .footer::before {
    inset: 76px 0 0 calc(100vw - 45px);
  }

  .footer::after {
    inset: 100vh 0 0 10px;
  }
}

@media (1024px <= width) {

  .header__theme-menu {
    margin: 0 39.5vw 0 0;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 25px;
    flex-direction: row;
  }

  .header__title {
    margin: 9vh 0 0 0;
  }

  .header__question {
    margin: 6vh 20px 0 0;
    width: 48vw;
    height: 9vh;
  }

  .header::after {
    inset: 91.5vh 0 0 20px;
  }

  .main__cont-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .main__gallery-list {
    grid-template-columns: 31vw 30.3vw 31vw;
    grid-template-rows: 25.2vw 30.8vw 42.2vw;
  }

  .footer::before {
    inset: 11vh 0 0 95.5vw;
  }
  
  .footer::after {
    inset: 102vh 0 0 20px;
  }

  .footer {
    padding: 60px 0 0 0;
  }

  .footer__title {
    margin: 42vh;
  }
}