/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  position: relative;
  min-height: 375px;
  height: 100vh;
  width: 100vw;
  padding: var(--main-padding);
  display: grid;
}

.header::before {
  inset: 10px 0 0 calc(100vw - 35px);
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
}

.header::after {
  inset: 94.5vh 0 0 10px;
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

.header__record {
  inset: 8px 0 0 calc(100vw - 70px);
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  font-family: var(--font-family);
}

.header__record::before {
  content: "rec";
  color: var(--record-color);
  font-size: 18px;
  text-transform: uppercase;
  margin-inline-end: 10px;
}

.header__record::after {
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid var(--record-color);
  background-color: var(--record-color);
  border-radius: 100%;
  box-shadow: var(--record-shadow);
}

.header__theme-menu {
  justify-self: end;
  margin: 9.6vh 0 0 0;
}

.header__title {
  margin: 2vh 0 0 0;
  font-family: var(--font-family, sans-serif);
  font-size: var(--title-font-size);
  color: var(--title-text-color);
  font-weight: bold;
  line-height: 82.5%;
  text-shadow: var(--title-shadow);
}

.header__question {
  height: 117px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: bold;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 0.8em;
}

.header__theme-menu-button {
  width: 70px;
  background-color: transparent;
  border: none;
  color: var(--menu-text-color);
  font-family: var(--font-family, sans-serif);
  font-size: var(--text-font-size);
  line-height: 1.2;
  text-transform: lowercase;
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--menu-text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-text-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-block-end: 1px solid var(--menu-text-color);
}

.title-decor {
  margin-block-end: 10px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: bold;
}

.title-decor + .normal-font-weight {
  margin-block-start: 20px;
}

.regular-text {
  margin-block-end: 20px;
  color: var(--text-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: normal;
}

.question {
  margin-block-end: 20px;
  color: var(--question-color);
  font-family: var(--font-family, sans-serif);
  line-height: var(--text-line-hight);
  font-size: var(--text-font-size);
  font-weight: bold;
}

.link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.normal-font-weight {
  font-weight: normal;
}

.main {
  padding-inline: var(--main-padding);
  padding-block-start: 40px;
  background-color: var(--background-color);
}

.main__intro {
  margin-block-end: var(--margin-block-end);
}

.main__cont {
  margin-block-end: var(--margin-block-end);
}

.main__advice {
  margin-block-end: var(--margin-block-end);
}

.main__gallery {
  padding-block-end: 40px;
}

.main__gallery-list {
  list-style: none;
  display: grid;
  grid-template-rows: 21.2vh repeat(2, calc(100vw - 10px * 2) 35.4vh);
  width: 100%;
  gap: 10px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  min-height: 375px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.footer::before {
  inset: 10px 0 0 calc(100vw - 35px);
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
}

.footer::after {
  inset: 94.5vh 0 0 10px;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

.footer__title {
  font-size: var(--title-font-size);
  color: var(--title-text-color);
  text-shadow: var(--footer-shadow);
  font-family: var(--font-family, sant-serif);
  line-height: 82.5%;
}

@media (768px <= width) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --margin-block-end: 80px;
    --main-padding: 20px;
  }

  .header {
    padding: 20px 20px 20px 0;
  }

  .header::before {
    inset: 20px 0 0 calc(100vw - 45px);
  }

  .header::after {
    inset: calc(100vh - 45px) 0 0 20px;
  }

  .header__record {
    inset: 20px 0 0 calc(100vw - 80px);
  }

  .header__theme-menu {
    margin: 17vh 0 0 0;
  }

  .header__title {
    margin: 1.5vh 0 0 0;
    position: relative;
  }

  .header__question {
    justify-self: end;
    width: 47.5vw;
  }

  .main {
    padding-block-start: 60px;
  }

  .main__intro {
    margin-block-end: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__cont-question {
    max-width: 30.6vw;
  }

  .main__advice {
    margin-block-end: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__gallery {
    padding-block-end: 50px;
  }

  .main__gallery-question {
    margin-block-end: 20px;
  }

  .main__gallery-list {
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 25vw 30vw 41.5vw;
    gap: 20px;
  }

  .row-block {
    grid-row: span 2;
  }

  .column-block {
    grid-column: span 2;
  }

  .footer::before {
    inset: 30px 0 0 calc(100vw - 45px);
  }

  .footer__title {
    margin-block-start: 2vh;
  }

  .footer::after {
    inset: calc(100vh - 36px) 0 0 20px;
  }

}

@media (1024px <= width) {

  .header__theme-menu {
    margin: 0 37vw 0 0;
  }

  .header__theme-menu-list {
    gap: 9px;
    flex-direction: row;
  }

  .header__title {
    margin: 21vh 0 0 0;
  }

  .header__question {
    max-height: 70px;
    width: 48vw;
  }

  .main__intro {
    grid-template-columns: 30.8vw auto;
  }

  .main__cont {
    margin-block-end: 60px;
  }

  .main__advice {
    grid-template-columns: 30.8vw auto;
  }

  .main__gallery-list {
    grid-template-columns: 31vw 30.2vw 31vw;
    grid-template-rows: 25.2vw 31.1vw 42.5vw;
  }

  .main__cont-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
  
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;

  --menu-text-color: #353430;
  --menu-text-color-hover: rgb(53 52 48 / 0.4);

  --question-color: #353430;

  --title-text-color: #ffc2e6;

  --border-color: #353430;

  --text-color:#353430;

  --background-color: #fff1f7;

  --record-color: transparent;
  --record-shadow: 0 0 0 3px transparent;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
  
    --accent-color: #ff0070;
    --accent-text-color: #000028;
  
    --menu-text-color: #ff0070;
    --menu-text-color-hover: rgb(255 0 112 / 0.4);
  
    --question-color: #ff0070;
  
    --title-text-color: #db00ff;
  
    --border-color: #ff0070;
  
    --text-color:#f1b2ce;
  
    --background-color: #000028;
  
    --record-color: #ff0070;
    --record-shadow: 0 0 0 3px rgb(255 0 112 / 0.4);
  }
}